@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800 bg-gray-50;
  }
}

/* Custom styles for reCAPTCHA if needed */
.g-recaptcha {
  margin-bottom: 1rem;
}
